.achievements-container {
    text-align: center;
    padding: 20px;
  }
  
  .achievement-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .achievement-box {
    position: relative;
    width: 350px;
    height: 300px;
    border: 1px solid #ddd;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .achievement-title {
    position: absolute;
    bottom: 10px; /* Moved to the bottom */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Adjust for the 50% left */
    border-radius: 5px;
    color:#ddd
  }
  
  .achievement-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  
  .achievement-description {
    position: absolute;

    bottom: 10px;
    top: 10px;
    width: 350px;
    height: 300px;
    left: 10px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0); /* Fully transparent */
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    align-items: center;
    text-align: center;
  }
  
  .achievement-box:hover .achievement-image {
    filter: blur(5px);
  }
  
  .achievement-box:hover .achievement-description {
    opacity: 1;
  }
  
  .achievement-box.hovered .achievement-title {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .achievement-box.hovered .achievement-description {
    opacity: 1;
    transition: opacity 0.3s ease;
  }